 <body>
<nav class="navbar navbar-expand-lg a" *ngIf ="nav.visible" >
    <div class="container-fluid ">
      <a class="navbar-brand" style="color: #008d47;" color="green" href="#">Ecozone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  "  routerLink="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">about</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             gallery
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="flora" style="color: #008d47;">flora</a></li>
              <li><a class="dropdown-item" routerLink="fauna" style="color: #008d47;">fauna</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" routerLink="contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">login</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</body>   

