<body class="container-fluid">
<div id="container">	
	
  <!-- Start	Product details -->
    <div class="product-details">
      
      <!-- 	Product Name -->
    <h1>{{fl[0].name}}</h1>
 
         
    
  <!-- The most important information about the product -->
      <p class="information">{{fl[0].description}}</p>
  
      
      
  <!-- 		Control -->
  <div class="control">
    

    
  </div>
        
  </div>
    
  <!-- 	End	Product details   -->
    
    
    
  <!-- 	Start product image & Information -->
    
  <div class="product-image">
    
    <img src="{{fl[0].image}}">
    
  <!-- 	product Information-->
  <div class="info">
    <h2>The Description</h2>
    <ul>
     {{fl[0].description}}
    </ul>
  </div>
  </div>
  <!--  End product image  -->
  
  
  </div>
</body>
  
  
  