<div class="container">
    <div>
    <div class="row">
      <div class="col">
        <img src="https://cdn.pixabay.com/photo/2014/05/06/19/01/eagle-339128_960_720.jpg" alt="" width="500">
      </div>
      <div class="col">
       <p> WILDLIFE BIOLOGY adopts a broad concept of wildlife management, including all policies and actions with the purpose of conservation, sustainable use, or control of wildlife and its habitats, in order to safeguard sustainable relationships between wildlife and other human interests. We have a broad concept of 'wildlife' and studies of mammals, birds and other taxa or phenomena relevant to wildlife issues are all of great interest. WILDLIFE BIOLOGY is a high-quality scientific forum directing concise and up-to-date knowledge to scientists, administrators, wildlife managers and conservationists.</p>
      </div>
    </div>
    <br><br>
    <div>
      <div class="row">
        <div class="col">
          <p>Digital preservation can be seen as all those processes aimed at ensuring the continuity of digital heritage materials for as long as they are needed.The most significant threats to digital continuity concern loss of the means of access. Digital materials cannot be said to be preserved if the means of access have been lost and access becomes impossible. The purpose of preserving digital materials is to maintain accessibility: the ability to access their essential, authentic message or purpose..</p>
        </div>
        <div class="col">
          <img src="https://images.unsplash.com/photo-1561321704-2ca38beb0398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="" width="500px">
        </div> 
    </div>      
</div>